- page_title _("FogBugz Import")
- header_title _("New project"), new_project_path
- add_to_breadcrumbs s_('ProjectsNew|Import project'), new_project_path(anchor: 'import_project')

%h1.page-title.d-flex
  .gl-display-flex.gl-align-items-center.gl-justify-content-center
    = sprite_icon('bug', css_class: 'gl-mr-2')
  = _('Import projects from FogBugz')
%hr

= form_tag callback_import_fogbugz_path do
  %p
    = _("To get started you enter your FogBugz URL and login information below. In the next steps, you'll be able to map users and select the projects you want to import.")
  .form-group.row
    = label_tag :uri, _('FogBugz URL'), class: 'col-form-label col-md-2'
    .col-md-4
      = text_field_tag :uri, nil, placeholder: 'https://mycompany.fogbugz.com', class: 'form-control gl-form-input'
  .form-group.row
    = label_tag :email, _('FogBugz Email'), class: 'col-form-label col-md-2'
    .col-md-4
      = text_field_tag :email, nil, class: 'form-control gl-form-input'
  .form-group.row
    = label_tag :password, _('FogBugz Password'), class: 'col-form-label col-md-2'
    .col-md-4
      = password_field_tag :password, nil, class: 'form-control gl-form-input'
  .form-actions
    = submit_tag _('Continue to the next step'), class: 'gl-button btn btn-confirm'
