- page_title _('Edit Deploy Key')
%h1.page-title= _('Edit Deploy Key')
%hr

%div
  = gitlab_ui_form_for [@project, @deploy_key], include_id: false, html: { class: 'js-requires-input' } do |f|
    = render partial: 'shared/deploy_keys/form', locals: { form: f, deploy_key: @deploy_key }
    .form-actions
      = f.submit _('Save changes'), class: 'gl-button btn btn-confirm'
      = link_to _('Cancel'), project_settings_repository_path(@project), class: 'gl-button btn btn-default btn-cancel'
